img.userprofile{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 70%;
    left: 30px;
    top: 15px;
  }
  
  div.userId{
    width: 220px;
    height: 80px;
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 110px;
    font-size: 25px;
    text-align: center;
  }
  
  p{
    position: relative;
    top: 35%;
  }