img.userprofile{
    position: fixed;
    width: 80px;
    border-radius: 70%;
    left: 15px;
    top: 15px;
}

div.userId{
    position: fixed;
    display: inline-block;
    top: 35px;
    left: 130px;
    font-size: 30px;
}