img.userprofile{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 70%;
  top: 60px;
  left: 30px;
  border: 1.5px solid;
}
  
div.userId{
  /* width: 220px;
  height: 80px; */
  /* display: inline-block; */
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 25px;
  /* text-align: left; */
  position: relative;
}

p{
  /* position: relative; */
  display: inline;
  /* top: 35%; */
  position: absolute;
  left: 0px;
}

button.settings{
  position: absolute;
  right: 0px;
}