.hnContainer {
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin:auto;
}

.hnDiary{
  height: 98vh;
}

.hnImage {
  border-radius: 25px;
  height: 98vh;
  object-fit: cover;
  object-position: center;
  position:relative;
}

.hnDiaryForm {
  display:flex;
  justify-content:space-around; 
  flex-direction:column;           
  width: 70vw; 
  height: 27vh; 
  position:absolute;
  top:50%; 
  left:50%; 
  transform: translate(-50%, -50%)
}



.v-icon.back{
  font-size: 30px;
  position: absolute;
  left: 15px;
  margin: 10px;
  z-index: 9999;
}


h1{
  margin-bottom: 15px;
}

ul{
  margin: 10px;
}

input{
  margin: 10px;
}

input#diarytitle{
  border-bottom: 1px solid #000;
}

input#diarydescription{
  border-bottom: 1px solid #000;
}

input#diaryimage{
  width: 210px;
}

button.submit{
  margin-top: 2vh;
  height: 30px;
  width: 58vw;
  border-radius: 5px;
  background: #ffde84;
  color: white;
  margin-bottom: 10px;
}