/* .hCard {
    border-radius:25px;
} */

.cImage {
    border-radius: 25px;
    height: 98vh;
    object-fit: cover;
    object-position: center;
    position:relative;
}

.aCon {
    height: 81vh;
}

/* button.v-icon.notranslate.newBtn.v-icon--link.mdi.mdi-plus.theme--light:hover {
    cursor: pointer;
    opacity: 100%;
}

button.v-icon.notranslate.newBtn.v-icon--link.mdi.mdi-plus.theme--light {
    font-size: 20vh;
    color: #ffffff;
    background-color: #c2c2c2;
    border-radius: 50%;
    opacity: 50%;
} */


.cSummary {
    height: 19vh;
}

.hContentBox {
    display:flex; 
    justify-content:space-around; 
    flex-direction:column;           
    width: 70vw; 
    height: 27vh; 
    position:absolute;
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%)
}

.hTitle {
    font-size: 1.1em; color: rgba(255, 255, 255, 0.8)
}

.hNewTitle {
    font-size: 1.1em; color: rgba(0, 0, 0, 0.8)
}

.hSubTitle {
    font-size: 0.6em; color: rgba(255, 255, 255, 0.8); line-height:160%;
}

.hMetaWrapper {
    width:100%; 
    display:flex; 
    justify-content:space-between;
}

.hMetasBox {
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:5px; 
    width:17vw; 
    height: 5vh;     
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center
}

.hMeta {
    font-size: 0.3vh;
    color: rgba(255,255,255,0.7)
}

.hNewBtn {
    border-radius:50%; 
    height: 7vw; 
    width: 7vw; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    z-index:99999999999999999999999999;
    background-color:rgba(255, 255, 255, 0.2)
}

.hBtnLeft {
    position:absolute;
    top:70%; left:45%; 
    transform: translate(-50%, -50%); 
}

.hBtnRight {
    position:absolute;
    top:70%; left:55%; 
    transform: translate(-50%, -50%); 
}

.hNewBtn:hover {
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


/* .cBtn {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: 6vh;
    background-color: #ffe135;
} */

.hContainer {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin:auto;
}
