.v-icon.back{
  font-size: 30px;
  position: absolute;
  left: 15px;
  margin: 10px;
  z-index: 200;
}

h1{
  z-index: 100;
  position: relative;
}

div.video{
  height: 255px;
  top: 100px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: gray;
}

div.temp{
  height: 220px;
}

div.text{
  margin: 15px;
}

div.text>h3{
  margin: 15px;
}

div.text>div{
  margin: 10px;
}

video.dvideo {
  position: absolute;
  top: 0;
  left: 0;
}

div.additionalInfo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
}