.nContainer {
  margin: 1vh 1vw;
  width: 98vw;
  height: 98vh;
  border-radius: 17px;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: #fff9eacc;
  -webkit-box-shadow: 19px -6px 24px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 19px -6px 24px -15px rgba(0,0,0,0.75);
  box-shadow: 19px -6px 24px -15px rgba(0,0,0,0.75);
}

.nBtn {
  height: 8vw; 
  width: 8vw; 
  display:flex; 
  justify-content:center; 
  align-items:center; 
  z-index:99999999999999999999999999;
}

.nBackBtn {
  position:absolute;
  top:4vh; left:9vw; 
  transform: translate(-50%, -50%); 
}

.nDate {
  font-size: large;
  font-weight: 600;
  color: rgba(0,0,0,0.65);
  line-height: 8vh;
  text-align: center;
}

.nContentBox {
  display: flex;
  justify-content:start; 
  flex-direction:column;
  width: 80vw; 
  height: calc(90vh - 40px); 
  position:absolute;
  top:calc(9vh + (90vh - 40px)/2); 
  left:50%; 
  transform: translate(-50%, -50%)
}

.nMetaWrapper {
  width:100%; 
  display:flex;
  flex-direction: column;
  margin: 2vh 0 1vh;
  height: 15vh;
  justify-content:center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: solid 1px rgba(0,0,0,0.4);
}

.nMetasBox {
  width:80%; 
  height: 12vh;     
  display:flex;
  justify-content:center;
  align-items:center;
  color: rgba(0,0,0,0.65);
  font-weight: 550;
}

.nImage {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
}

.nNewBtn {
  border-radius:50%; 
  height: 90%; 
  width: 40vw; 
  display:flex; 
  justify-content:center; 
  align-items:center; 
  z-index:99999999999999999999999999;
  background-color:rgba(255, 255, 255, 0.2);
}

.nExpandBtn {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  border-radius: 25px;
  width: 100px;
  height: 30px;
  display:flex;
  justify-content: center;
}

.nExpandBtn > p {
  font-size:2.5vh; margin:0 3px; font-weight:550; color:rgba(0,0,0,0.4);
  line-height: 33px;
}

.nNoneNotiImg {
  height: 7vh;
  width: 7vh;
  margin: 25vh auto 0; 
}

.nNoneNoti {
  font-size:2.5vh; margin:0 2vw; font-weight:550; color:rgba(0,0,0,0.4);
  line-height: 10vh;
}